<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bubble1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{684,684}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,684}}</string>
                <key>sourceSize</key>
                <string>{684,684}</string>
            </dict>
            <key>bubble10.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,0},{684,684}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,684}}</string>
                <key>sourceSize</key>
                <string>{684,684}</string>
            </dict>
            <key>bubble11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,0},{684,684}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,684}}</string>
                <key>sourceSize</key>
                <string>{684,684}</string>
            </dict>
            <key>bubble12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2052,0},{684,684}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,684}}</string>
                <key>sourceSize</key>
                <string>{684,684}</string>
            </dict>
            <key>bubble13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2736,0},{684,684}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,684}}</string>
                <key>sourceSize</key>
                <string>{684,684}</string>
            </dict>
            <key>bubble14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,684},{684,684}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,684}}</string>
                <key>sourceSize</key>
                <string>{684,684}</string>
            </dict>
            <key>bubble15.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,684},{684,684}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,684}}</string>
                <key>sourceSize</key>
                <string>{684,684}</string>
            </dict>
            <key>bubble16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,684},{684,684}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,684}}</string>
                <key>sourceSize</key>
                <string>{684,684}</string>
            </dict>
            <key>bubble17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2052,684},{684,684}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,684}}</string>
                <key>sourceSize</key>
                <string>{684,684}</string>
            </dict>
            <key>bubble18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2736,684},{684,684}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,684}}</string>
                <key>sourceSize</key>
                <string>{684,684}</string>
            </dict>
            <key>bubble19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1368},{684,684}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,684}}</string>
                <key>sourceSize</key>
                <string>{684,684}</string>
            </dict>
            <key>bubble2.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1368},{684,684}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,684}}</string>
                <key>sourceSize</key>
                <string>{684,684}</string>
            </dict>
            <key>bubble20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,1368},{684,684}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,684}}</string>
                <key>sourceSize</key>
                <string>{684,684}</string>
            </dict>
            <key>bubble21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{684,684}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,684}}</string>
                <key>sourceSize</key>
                <string>{684,684}</string>
            </dict>
            <key>bubble3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2052,1368},{684,684}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,684}}</string>
                <key>sourceSize</key>
                <string>{684,684}</string>
            </dict>
            <key>bubble4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2736,1368},{684,684}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,684}}</string>
                <key>sourceSize</key>
                <string>{684,684}</string>
            </dict>
            <key>bubble5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2052},{684,684}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,684}}</string>
                <key>sourceSize</key>
                <string>{684,684}</string>
            </dict>
            <key>bubble6.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2052},{684,684}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,684}}</string>
                <key>sourceSize</key>
                <string>{684,684}</string>
            </dict>
            <key>bubble7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,2052},{684,684}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,684}}</string>
                <key>sourceSize</key>
                <string>{684,684}</string>
            </dict>
            <key>bubble8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2052,2052},{684,684}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,684}}</string>
                <key>sourceSize</key>
                <string>{684,684}</string>
            </dict>
            <key>bubble9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2736,2052},{684,684}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,684}}</string>
                <key>sourceSize</key>
                <string>{684,684}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bubbles-ipadhd.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e070dc43e02812e57bd99e71a6a236c$</string>
            <key>textureFileName</key>
            <string>bubbles-ipadhd.png</string>
        </dict>
    </dict>
</plist>
