<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bubble1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{342,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,342}}</string>
                <key>sourceSize</key>
                <string>{342,342}</string>
            </dict>
            <key>bubble10.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,0},{342,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,342}}</string>
                <key>sourceSize</key>
                <string>{342,342}</string>
            </dict>
            <key>bubble11.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,0},{342,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,342}}</string>
                <key>sourceSize</key>
                <string>{342,342}</string>
            </dict>
            <key>bubble12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,0},{342,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,342}}</string>
                <key>sourceSize</key>
                <string>{342,342}</string>
            </dict>
            <key>bubble13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,0},{342,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,342}}</string>
                <key>sourceSize</key>
                <string>{342,342}</string>
            </dict>
            <key>bubble14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,342},{342,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,342}}</string>
                <key>sourceSize</key>
                <string>{342,342}</string>
            </dict>
            <key>bubble15.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,342},{342,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,342}}</string>
                <key>sourceSize</key>
                <string>{342,342}</string>
            </dict>
            <key>bubble16.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,342},{342,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,342}}</string>
                <key>sourceSize</key>
                <string>{342,342}</string>
            </dict>
            <key>bubble17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,342},{342,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,342}}</string>
                <key>sourceSize</key>
                <string>{342,342}</string>
            </dict>
            <key>bubble18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,342},{342,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,342}}</string>
                <key>sourceSize</key>
                <string>{342,342}</string>
            </dict>
            <key>bubble19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,684},{342,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,342}}</string>
                <key>sourceSize</key>
                <string>{342,342}</string>
            </dict>
            <key>bubble2.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,684},{342,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,342}}</string>
                <key>sourceSize</key>
                <string>{342,342}</string>
            </dict>
            <key>bubble20.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,684},{342,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,342}}</string>
                <key>sourceSize</key>
                <string>{342,342}</string>
            </dict>
            <key>bubble21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{342,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,342}}</string>
                <key>sourceSize</key>
                <string>{342,342}</string>
            </dict>
            <key>bubble3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,684},{342,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,342}}</string>
                <key>sourceSize</key>
                <string>{342,342}</string>
            </dict>
            <key>bubble4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,684},{342,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,342}}</string>
                <key>sourceSize</key>
                <string>{342,342}</string>
            </dict>
            <key>bubble5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1026},{342,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,342}}</string>
                <key>sourceSize</key>
                <string>{342,342}</string>
            </dict>
            <key>bubble6.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1026},{342,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,342}}</string>
                <key>sourceSize</key>
                <string>{342,342}</string>
            </dict>
            <key>bubble7.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1026},{342,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,342}}</string>
                <key>sourceSize</key>
                <string>{342,342}</string>
            </dict>
            <key>bubble8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,1026},{342,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,342}}</string>
                <key>sourceSize</key>
                <string>{342,342}</string>
            </dict>
            <key>bubble9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,1026},{342,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,342}}</string>
                <key>sourceSize</key>
                <string>{342,342}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bubbles-ipad.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03ee3eb95f5d1556eb0890d74992b0cb$</string>
            <key>textureFileName</key>
            <string>bubbles-ipad.png</string>
        </dict>
    </dict>
</plist>
